<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="styles/blog.css">

<nav>
    <div class="nav-bar-container">
        <a href="/"><h2>RetroBlog</h2></a>
        <div>
            <a href="/creator">Creator</a>
            <button type="button" id="light_dark_mode">DarkMode</button>
        </div>
    </div>
</nav>

<main class="container">
    <div>
        <p>Hello World</p>
    </div>
</main>