@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Global Styles */

:root {
    --main-color: #fffcbd;
    --secondary-color: #ffbd59;
    --dark-color: #424242;
}

html {
    box-sizing: border-box;
    font-size: 10px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
}

body {
    background: var(--main-color);
    margin: 0;
    height: 100vh;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

nav {
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2.5rem 0rem;
    margin-bottom: 3rem;
}

.nav-bar-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

nav div {
    display: flex;
    align-items: center;
    gap: 3rem;
}
a {
    color: white;
    font-size: 1.2rem;
}

h2 {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.container {
    margin: 0 auto;
    width: 90%;
}

/*
    Compose Screen
*/

/* #compose-screen {
    display: none;
} */

.show-compose {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex !important;
    justify-content: center;
}

.show-compose .compose-screen form {
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    width: 35rem;
    gap: 1rem;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
    z-index: 3;
}

.show-compose .compose-screen form input, .show-compose .compose-screen form textarea {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    background-color: #F0F0F0;
}

.show-compose .compose-screen form textarea {
    height: 10rem;
    resize: none;
    background-color: #F0F0F0;
}

.show-compose .compose-screen form .button {
    margin-top: 2rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fffcbd;
}

.show-compose .compose-screen form .button:hover {
    background-color: #424242;
    color: white;
}

.show-compose #close-compose {
    border-radius: 50%;
    border: none;
    background-color: red;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    margin: 0;
    margin-top: -1rem;
    align-self: flex-end;
}

/*
    Posts
*/
.posts {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.post {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 2px solid var(--dark-color);
    width: 32%;
    height: 20rem;
}

.post h2, p {
    margin-bottom: 1.5rem;
}

.post h2 {
    color: var(--dark-color);
}

