@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


html {
    font-size: 10px;
}

* {
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
}

body {
    background: url("../img/8bit_wallpaper.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

nav {
    display: none;
}

.transparent-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #0d007e;
    opacity: 0.1;
}

.starterScreen {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    position: absolute;
    left: 0%;
    margin-left: 2rem;
    height: 90vh;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.icon img {
    width: 10rem; 
    min-height: 10rem; 
    background-size: cover;
}

.icon p {
    font-size: 1rem;
    color: white;
}

@media (width <= 1366px) {
    .icons {
        gap: 2rem;
    }
    .icon img {
        width: 8rem;
        min-height: 8rem;
    }
}

.text {
    align-self: center;
    text-align: center;
}

.text{
    color: white;
}
.text h1 {
    font-size: 8rem;
    margin-bottom: 30rem;
    margin-top: 0;
}

@keyframes rotatinin {
    0% {
        transform: rotate(10deg);
        font-size: 1.6rem;
        
}
    50% {
        transform: rotate(-10deg);
        font-size: 2rem;
}
    100% {
        transform: rotate(10deg);
        font-size: 1.6rem;
        
}
}

.text p {
    font-size: 1.6rem;
    animation-name: rotatinin;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

a {
    text-decoration: none;
}

